<!DOCTYPE html>
<html lang="en">
<head>
<title>Movie Recommender</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/style.css" type="text/css" media="all">
<script type="text/javascript" src="../js/jquery-1.4.2.js" ></script>
<script type="text/javascript" src="../js/cufon-yui.js"></script>
<script type="text/javascript" src="../js/cufon-replace.js"></script>
<script type="text/javascript" src="../js/Myriad_Pro_italic_600.font.js"></script>
<script type="text/javascript" src="../js/Myriad_Pro_italic_400.font.js"></script>
<script type="text/javascript" src="../js/Myriad_Pro_400.font.js"></script>
</head>
<body id="page1">
<div class="body1">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a href="rater.html" id="logo"></a><span id="slogan">Movie Recommender</span></h1>
        <div class="right">
          <nav>
            <ul id="top_nav">
              <li style="color: white;">Account name</li><li><a href="index.html">Logoff</a></li>
            </ul>
          </nav>
          <nav>
            <ul id="menu">
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li id="menu_active"><a href="rater.html">Movie Rater</a></li>
              <li><a href="profile.html">Profile</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
</div>
<div class="content" id="middle">
  <div class="filter">
    Genre: &nbsp;
      <select>
        <option value="">-Select-</option>
        <option value="action">Action</option>
        <option value="adventure">Adventure</option>
        <option value="animation">Animation</option>
        <option value="children">Children</option>
        <option value="comedy">Comedy</option>
        <option value="crime">Crime</option>
        <option value="documentary">Documentary</option>
        <option value="drama">Drama</option>
        <option value="fantasy">Fantasy</option>
        <option value="filmnoir">Film-Noir</option>
        <option value="horror">Horror</option>
        <option value="imax">IMAX</option>
        <option value="musical">Musical</option>
        <option value="mystery">Mystery</option>
        <option value="romance">Romance</option>
        <option value="scifi">Sci-Fi</option>
        <option value="short">Short</option>
        <option value="thriller">Thriller</option>
        <option value="war">War</option>
        <option value="western">Western</option>
      </select>
  <div>  
  <p class="movietitle">The Dark Knight</p>
  <p style="text-align:center;"><a href="rater.html">Skip Movie</a></p>
  <div class="movie">
    <a href=""><img src="../images/Thumbs_Up.png" height="200" width="200" class="thumb"></a>
    <img src="../images/movie_poster.jpg" height="200" width="150" class="moviepic">
    <a href=""><img src="../images/Thumbs_Down.png" height="200" width="200" class="thumb"></a>
  </div>
<div>  
<div class="footer1">
  <div class="main">
    <footer>
      <p style="color:white;">Movie Information</p>
      <div class="footerlink">
        <!--
        <p class="lf">Copyright &copy; 2016 <a href="index.html">Midwest Insurance</a> - All Rights Reserved</p>
        <p class="rf">&nbsp; <a href="contactus.html">Contact Us</a> &nbsp; | &nbsp; <a href="termsofuse.html">Terms of Use</a> &nbsp; | &nbsp; <a href="privacystatement.html">Privacy Statement</a> &nbsp; | &nbsp; <a href="faq.html">FAQ</a> &nbsp; </p>
        <div style="clear:both;"></div>
      -->

        <table style="color:white;">
          <tr>
            <th width="100">Title</th>
            <th width="100">Director</th> 
            <th width="100">Actors</th>
            <th width="100">Ratings</th>
          </tr>
          <tr>
            <td>The Dark Knight</td>
            <td>Steven Speilberg</td> 
            <td>Batman<br> robin</td>
            <td>9.8</td>
          </tr>
        </table>
        
        


      </div>
    </footer>
  </div>
</div>
</body>
</html>